:root {
	--scrollSpeed: 1s;
}
.buttons {
	font-family: "Lucida Console", "Courier New", monospace;
	height: 60px;
	width: 60px;
	font-size: 2em;
	background-color: #d9d9d7;
	color: #000000;
	border-radius: 50%;
	margin: auto;
	
}
.buttonDiv {
	z-index: 2;
	top: 500px;
	position: relative;
	border: 2px;
	border-style: none solid solid solid;
	display: flex;
	align-items: center;
	width: 300px;
	margin: auto;
	border-color: #404040;
	background-color: #706f6f;
}
.uiDiv {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 450px;
	width: 100px;
	text-align: center;
}
#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 100;
	cursor: pointer;
}
#menuDiv {
	position: fixed;
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	top: 25%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #858585;
	border: 10px;
	border-color: #404040;
	border-radius: 5%;
	z-index: 101;
}
.settingsList {
	position: relative;
	top: 10%;
	left: 50%;
	font-size: 25;
	color: white;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	align-items: center;
	justify-content: center;
	display: flex;
	margin-left: auto;
	margin-right:auto;
	height: 20%;
}
.settingsText {
	text-align: center;
	width: 40%;
}
.settingsSide {
	text-align: center;
	width: 20%;
}
.settingsDiv {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 350px;
	right: 0;
	width: 25px;
	height: 50px;
	bottom: 0;
	top: 70px;
}
#menuContainer {
	display: none;
}
.settingsButton {
	color: #ffffff;
	font-family: monospace;
	border-color: #404040;
	background-color: #706f6f;
}
.livesContainer {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	left: 175px;
	right: 0;
	width: 20px;
	top: 50px;
	height: 450px;
	text-align: center;
}
.livesDiv {
	position: absolute;
	bottom: 0;
}
.lives {
	margin: 2px;
	font-size: 25;
	font-weight: bold;
	color: #000000;
	font-family: monospace;
}
.uiButtons {
	width: 100px;
	margin: 2px;
	color: #ffffff;
	font-family: monospace;
	border-color: #404040;
	background-color: #706f6f;
}
.chartDisplayDiv {
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 450px;
	width: 300px;
	border: 2px;
	border-color: #404040;
	border-style: solid solid none solid;
	background-color: #706f6f;
}
.chartDisplayTopDiv {
	z-index: 20;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 60px;
	width: 300px;
	border: 2px;
	border-color: #404040;
	background-color: #d6d6d4;
}
.fullDiv {
	background-color: #d6d6d4;
	font-family: monospace;
}
.chartDiv {
	z-index: 10;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 800px;
	width: 300px;
}
.laneDiv {
	position:relative;
	z-index: 10;
	float: left;
	height: 100%;
	width: 25%;
}
.judgeDiv {
	position: absolute;
	z-index: 80;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 200px;
	width: 100px;
	display: block;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.uiHeader {
	margin-bottom:20px;
	margin-top:20px;
	font-size: 25;
	font-weight: bold;
	color: #000000;
}
.uiScore {
	margin: 2px;
	font-size: 20;
	font-weight: bold;
	color: #000000;
}
#judge {
	font-size: 20;
	color: #ffffff;
}
#combo {
	font-size: 35;
	color: #ffffff;
}
.note {
	z-index: 15;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position: absolute;
	background-color: red;
	animation-name: mover;
	animation-timing-function: linear;
	animation-duration:var(--scrollSpeed);
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
}
.bounce {
	animation: bouncer 0.1s, fadeOut 3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
}
@keyframes mover {
	0%	 {left:0px; top:0px;}
	100% {background-color:blue; left:0px; top:600px;}
}
@keyframes bouncer {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01; width: 100%; height: 100%;}
    100% { opacity: 0;width: 0; height: 0;}
}
